.hero-container {
    display: flex;
    justify-content: center;
    z-index: 5;
    position: relative;
    width: 60%;
    margin: 0 auto;
}

.name-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.main-text {
    margin: 0;
    font-size: 250%;  
}
.sub-text {
    font-size: 90%;  
}

.quote {
    text-align: center;
}

.ham { display: none;}

.socials {
    display: flex;
    position: relative;
    justify-content: flex-end;
    height: 50px;
    align-items: center;
    padding-right: 30px;
    padding-bottom: 50px;
}

.social-item { 
    margin-right: 13px;
}

a {
    text-decoration: none;
    color: white;
}


.link {
    font-size: 120%;
}


.me-pic {
    width: 500px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .ham { 
        display: flex;
        position: relative;
        justify-content: flex-end;
        padding-right: 30px;
     }

    .socials {
        display: none;
    }

    .hero-container {
        width: 100%;
        flex-direction: column-reverse;
        align-items: center;
    }
    .me-pic {
        /* width: 120%; */
    }

    .link {
        margin-bottom: 10px;
        font-size: 90%;
    }
    
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}
