.App {
  background-color: #282c34;
  color: white;
  min-height: 100vh;
  min-width: 100vw;
}

.particles-canvas {
  z-index: -999999;
  position: absolute;
  height: 0;

}

.particles {
  z-index: -9999;
  width: 5;;
}