.hero-container {
    display: flex;
    justify-content: center;
    z-index: 5;
    position: relative;
    width: 60%;
    margin: 0 auto;
    pointer-events: auto;
}

.name-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.main-text {
    margin: 0;
    font-size: 250%;  
}
.sub-text {
    font-size: 90%;  
}

.quote {
    text-align: center;
}

.ham { display: none;}

.socials {
    display: flex;
    position: relative;
    justify-content: flex-end;
    height: 50px;
    align-items: center;
    padding-right: 30px;
    padding-bottom: 50px;
}

.social-item { 
    margin-right: 13px;
}

a {
    text-decoration: none;
    color: white;
}


.link {
    font-size: 120%;
}


.me-pic {
    /* width: 1000px; */
}

#mobile-drop {
    display: none;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .ham { 
        display: flex;
        position: fixed;
        justify-content: flex-end;
        padding-right: 30px;
        z-index: 99999;
        left: 90%;
        pointer-events: auto; 
     }

    #mobile-drop {
        display: flex;
        flex-direction: column;
        position: fixed;
        z-index: 20;
        width: 99%;
        height: 99%;
        background-color: rgba(0, 0, 0, 0.8);
        transition: all .1s ease-in-out;
        top: 0;
        padding-top: 50px;
        align-items: center;
    }
    .mobile-link {
        text-align: center;
        margin: 20px 0;
        pointer-events: inherit;
        width: max-content;
    }
    .socials {
        display: none;
    }

    .hero-container {
        width: 100%;
        flex-direction: column-reverse;
        align-items: center;
        padding-top: 25px;
        /* pointer-events: none; */
    }
    .me-pic {
        width: 90%;
    }

    .name-container {
        padding: 0 75px;
    }
    .link {
        margin-bottom: 10px;
        font-size: 90%;
    }
    
    .main-text, .sub-text {
        text-align: center;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}
